<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <h1>{{title}}</h1>

            <!-- Table to output data -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>price</th>
                        <th>code</th>
                        <th>description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td><img src="{{ product.image_path }}" width="30px" height="30px"></td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.code }}</td>
                        <td>{{ product.description }}</td>
                        <td>
                            <button (click)="deleteProduct(product.id)" class="btn btn-danger">Delete</button>
                            <button (click)="showProduct(product.id)" class="btn btn-primary">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <hr />
            <!-- Form to add data -->
            <form [formGroup]="productForm" (ngSubmit)="storeProduct(productForm)">

                <div class="form-group">
                    <label for="name">Product Name</label>
                    <input type="text" required class="form-control" name="name" formControlName="name">
                    <span class="text-danger" *ngIf="(f.name.errors?f.name.errors.required:false)">Name required</span>
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="number" required class="form-control" name="price" min="0" max="99999" step=".01" formControlName="price">
                    <span class="text-danger" *ngIf="submitted && (f.price.errors?f.price.errors.required:false)">Price required</span>

                </div>
                <div class="form-group">
                    <label for="code">code</label>
                    <input type="number" required class="form-control" name="code" min="1" max="10" formControlName="code">
                    <span class="text-danger" *ngIf="submitted && (f.code.errors? f.code.errors.required:false)">Code required</span>

                </div>
                <div class="form-group">
                    <label for="description">description</label>
                    <textarea name="description" class="form-control" formControlName="description">

                    </textarea>
                </div>

                <div class="form-control">
                    <input type="file"  required (change)="onImagePicked($event)"  /> 
                    <span class="text-danger" *ngIf="submitted && (f.product_image.errors? f.product_image.errors.required:false)">Image required</span>
                </div>

                <div formArrayName="customfields">
                    <h3>Custom Fields</h3>
                     <button (click)="addCustomField()" type="button" class="btn btn-primary m-1">Add Custom field</button>
                    <div class="row">
                    <div class="col-xs-6" *ngFor="let customfield of productForm.get('customfields').controls; let i=index">
                        <div class="form-control row" [formGroupName]="i">
                            <div class="form-group col-xs-6">
                                <label>
                                  Value:
                              </label>
                              <input type="text" class="form-control" formControlName="cvalue">
                          </div>
                          <div class="form-group col-xs-6">
                            <label>
                              Description:
                          </label>
                          <textarea class="form-control" formControlName="cdescription">
                          </textarea>
                        </div>
                        <button type="button" (click)="DeleteCustomField(i)" class="btn btn-danger">Delete</button>

                  </div>
              </div>
          </div>
          </div>
          <button type="submit" class="btn btn-primary">Add</button>
          <button type="button" (click)="updateProduct(product.id)" class="btn btn-primary">Update</button>

      </form>
  </div>    
</div>
</div>